.vscode
*.o
*.a
a.out
test.c
test2.c
.DS_Store
printf_lover_v2
a.out.dSYM
pft_2019/
printf_lover_v2/
pft/
42TESTERS-PRINTF/
test_compile.sh
.vsls.json
test_bcompile.sh
test_origin.c
test_dtoa.c
memo.txt
testb.c
printf_test/
test
